<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CharacterModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC39A1401EB0B7CF00BE3D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC39A1541EB0B7CF00BE3D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC39A15F1EB0B7CF00BE3D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
